body {
    margin: 0;
    padding: 0;
    background-color: #f8f8f8;
}

header {
    display: flex;
    background-color: #FF7F00;
}

.auth{
    flex: 1;
    background-color: #FFBB34;
}

.auth > form > input {
    margin-top: 10px;
    margin-left: 30%;
    width: 60%;
}
.gorizont {
    margin-left: 30%;
    padding: 10px 0;
}

.logo{
    flex: 1;
    display: flex;
    justify-content: center;
    align-items: center;
}

.title{
    flex: 2;
    font-size: 50px;
    text-align: center;
    line-height: 100%;
    padding: 30px;
    padding-top: 20px;
}

.sections{
    display: flex;
    justify-content: space-around;
    padding: 20px 0;
}

main {
    display: flex;
    padding-top: 15px;
}

.left{
    flex: 1;
    display: flex;
    flex-direction: column;
    background-color: #FF7F00;
    align-items: center;
    padding-top: 10px;
}

.left > a{
    padding-bottom: 5px;
    color: white;
    font-weight: 800;
}

.center{
    flex: 2
}

.right{
    flex: 1;
    background-color: #FF7F00;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
}

.search {
    font-weight: 900;
    font-size: 28px;
}

.search-form{
    display: flex;
    flex-direction: column;
}

.search-form > button {
    margin: 5px 25%;
}

.banner {
    width: 270px;
    height: 150px;
    padding: 20px;
}

.banner > a{
    width: 100%;
    height: 100%;
}

.center{
    display: flex;
    flex-direction: column;
    padding: 0 20px;
    align-items:start;
}

.text-with-photo{
    display: flex;
}
.text {
    flex: 2
}
.photo{
    flex: 1
}

td {
    border: 1px solid gray;
    padding: 5px;
    text-align: center; 
    vertical-align: middle;
}

.cart{
    width: 250px;
    height: 150px;
    border: 2px solid gold;
    border-radius: 50px;
    padding: 25px;
    padding-bottom: 170px;
    margin-top: 30px;
}

.cart-pic{
    border: 2px solid gold;
    border-radius: 50px;
    height: 250px;
}

.catalog{
    display: flex;
    width: 100%;
    height: 100%;
    flex-direction: column;
    align-items: center;
    margin-bottom: 30px;
}

.otziv {
    margin-top: 20px;
    border: 2px solid gold;
    border-radius: 20px;
    padding: 10px;
    display: flex;
    flex-direction: column;
}

.otziv > input {
    border: 2px solid orange;
    width: 200px;
    height: 20px;
}

.otziv > input::placeholder {
    color: orange;
    font-size: 14px;
}